* {
    box-sizing: border-box;
}

/* custom scroll bar */
::-webkit-scrollbar {width: 0px !important;}
::-webkit-scrollbar-track {background: #242526;}
::-webkit-scrollbar-thumb {background: #3A3B3C;}
a {color: grey}
body {
    max-width:100%;
    overflow-x: hidden;
}

.loader {
  width: 150px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.loader span {
  font-size: 20px;
  text-transform: uppercase;
  margin: auto;
  color: #fff;
} 
.loader .ball {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: lightblue;
  animation: wbounce .4s alternate infinite;
}
.loader .ball:nth-child(2) {
  animation-delay: .1s;
}
.loader .ball:nth-child(3) {
  animation-delay: .2s;
}
.loader .ball:nth-child(4) {
  animation-delay: .3s;
}
@keyframes wbounce {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
@-webkit-keyframes wbounce {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 250; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px; /* Place content 60px from the top */
    transition: 0.5s;
    padding-right: 20px;
    /*box-shadow: 0 4px 8px 0 rgba(160, 159, 159, 0.2), 0 6px 20px 0 rgba(156, 156, 156, 0.19);*/
  }
   /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
   main {
    margin-left: 250px;
    background: #fff;
    margin-bottom: 40px;
  }
  .side-con {
    position: fixed;
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    left: 110%;
    top: 0;
    z-index: 210;
    padding: 20px;
    background: #fff;
    margin-bottom: 40px;
    max-width: 100%;
    overflow-x: hidden;
    transition: all .5s ease;
  }
  .side-con.active {
    left: 250px;  
  }
  .opennav {
    display: none;
    font-size: 25px;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
  }
  
  @media screen and (max-width: 900px) {
    .sidenav {
        width: 0;
        padding-top: 60px;
    }
    main {
        transition: margin-left .5s;
        margin-left: 10px;
        padding: 20px;
    }
    .side-con {width:100%}
    .side-con.active {
      left: 0; 
      padding: 20px; 
    }
    .opennav, .sidenav .closebtn {
        display: none;
    }
  }
  .sidenav.active {
    width: 250px;
  }
  main.active {
    margin-left: 0;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 10px 10px 10px 32px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-right: 20px;
    color: gray;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .site-title {
    color: green;
    text-shadow: 1px 1px 2px gray;
    padding: 0px 10px 0px 35px;
    font-size: 18px;
  }
  .sidenav a:hover, .sidenav a.active {
    background: rgba(0, 140, 255, 0.1);
    color: #000;
  }
  .sidenav ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: none;
  }
  .sidenav ul li {
    padding: 0;
    margin: 0;
  }
  .sidenav ul li a {
    font-size: 13px;
    padding: 5px 5px 5px 32px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

header {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}
.alert-note {
  display: none;
}
.side-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.notificationb {
    font-size: 25px;
}
.admin-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

@media screen and (min-width:700px) {
  #search {min-width: 300px;}
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accordion:after {
  content: '\2304';
  float: right;
  margin-left: 5px;
}

.accordion.active:after {
  content: "\2303";
}
/* dashboard */
.dash-menu {
  margin-top: 20px;
}
.dash-menu-con {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid rgba(8, 176, 243, 0.1);
}

.table {
  border: 1px solid rgba(8, 176, 243, 0.1);
  margin-top: 30px;
}
.table thead {
  background: rgba(0, 140, 255, 0.1);
}
.table tr {border:none}
.dash-table tr th:nth-child(1) {
  min-width: 150px !important;
}
.dash-table tr th:nth-child(2) {
  min-width: 150px !important;
}
.dash-table tr th:nth-child(3) {
  min-width: 150px !important;
}
.content-area {
  width: 100%;
  margin: 0 auto;
}

.box {
  background-color: #fff;
  padding: 25px 20px;

}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}
.sparkboxes .box {
  padding-top: 30px;
  padding-bottom: 30px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
}


.sparkboxes strong {
  position: relative;
  z-index: 3;
  color: #fff;
}


.sparkboxes .box1 {
  border-bottom: 3px solid #734CEA
}

.sparkboxes .box2 {
  border-bottom: 3px solid #34bfa3
}

.sparkboxes .box3 {
  border-bottom: 3px solid #f4516c;
}

.sparkboxes .box4 {
  border-bottom: 3px solid #00c5dc;
}

.spinner-border {
  display: none;
}
/* company profile */
.comp-form label {
  font-weight: 700;
  font-size: 16px;
}
.comp-form input, .comp-form textarea, .comp-form select {
  padding: 20px !important;
  background: rgba(108, 185, 252, 0.05);
  font-size: 16px;
}
.comp-form select {color:#000}
textarea {resize:none;}
.form-btn {
  background: rgba(0, 140, 255, 0.1);;
  color: black;
  border: none;
  font-size: 18px;
  border-radius: 15px;
  padding: 20px;
  width:80%;
  max-width: 500px;
  margin:auto;
}
/* subscription */
.sub-container{
  width: 100%;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 20px;
}

.sub-container .form-outer{
  width: 100%;
  overflow: hidden;
}
.sub-container .form-outer .sub-step{
  display: flex;
  width: 400%;
}
.form-outer .sub-step .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer .sub-step .page .title{
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}



@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}



/* slider tab */
.wrapper{
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 5px;
  background: #fff;
}

.wrapper .tabs{
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.wrapper .tabs label{
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  color: #17a2b8;
  font-size: 17px;
  font-weight: 700;
  border-radius: 5px;
  margin: 0 5px;
  transition: all 0.3s ease;
}
@media screen and (max-width: 400px) {
  .wrapper .tabs label {
    font-size: 12px;
    text-align: center;
  }
}
.wrapper .tabs label:hover{
  color: #3f66d3;
}
#home:checked ~ .tabs label.home,
#blog:checked ~ .tabs label.blog,
#code:checked ~ .tabs label.code,
#help:checked ~ .tabs label.help,
  #about:checked ~ .tabs label.about{
  color: navy;
}
.tabs label i{
  padding-right: 7px;
}
.tabs .slider{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  bottom: 0;
  z-index: 0;
  background: transparent;
  border-bottom: 5px solid navy;
  transition: all 0.3s ease;
}
.wrapper input[type="radio"]{
  display: none;
}
#blog:checked ~ .tabs .slider{
  left: 50%;
}
section .content{
  display: none;
  background: #fff;
  padding-top: 0px;
  text-align: left;
}
#home:checked ~ section .content-1,
#blog:checked ~ section .content-2{
  display: block;
}
section .content .title{
  font-size: 21px;
  font-weight: 500;
  margin: 30px 0 10px 0;
}
section .content p{
text-align: justify;
}
.feat-list {
  text-align:left;
  list-style-type: none;
  padding: 10px;
  padding-left: 20px;
}
.feat-list li {
  font-size: 12px;
  line-height: 2;
}

/* organization */
.company_image {
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid lightblue;
  position: relative;
}
.company_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.proj-img {
  width: 100%;
  max-width: 400px;
  height: auto;
}
.proj-img img {
  width: 100%;
  height: auto;
}
#comp_image_in, .image-input {
  position: fixed;
  top: -100000px;
}
.comp_image_in {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 30px !important;
  color: #fff;
  background: rgb(50, 136, 165);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 20px;
}


.emp-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add_emp_btn {
  border: none;
  padding: 15px 20px;
  background: green;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 10px;
  margin-right: 20px;
}
.page_nos, .com_page_nos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_no, .com_page_no {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid rgb(15, 56, 83);
  color: rgb(15, 56, 83);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.page_no:hover, .com_page_no:hover, .page_no.active, .com_page_no.active {
  background: rgb(15, 56, 83);
  color: #fff;
}
.emp_rep_dp {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 3px;
  border: 1px solid lightblue;
}
.message-con {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1000;
  justify-content: center;
  align-items: center;
  padding: 5px;
  display: none;
}
.message-con.active {
  display: flex;
}
.message-box {
  width: 90%;
  max-width: 450px;
  padding: 30px 20px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: zoom .3s linear;
}
@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
@-webkit-keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}
.message-btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.c-item {
  width: 130px;
  height: auto;
  cursor: pointer;
  margin: 5px;
}
.c-item img {
  width: 100%;
  height: 130px;
}
.c-item .c-title {
  width: 100%;
  display: block;
  padding: 10px;
  font-size: 12px;
  font-weight: 600;
  background: lightblue;
  color: #000;
  text-align: center;
  margin-top: 5px;
}
.c-item .fa {
  width: 130px;
  height: 130px;
  display: block;
  margin: auto;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 50%;
  color: lightblue;
  font-weight: 500;
}

.table {
  border: none !important;
}

.notification {
  position: fixed;
  top: -100px;
  width: 95%;
  left: 2.5%;
  z-index: 1000;
  border-radius: 8px;
  padding: 5px 8px;
  transition: all .5s ease-in-out;
}
.notification.active {
  top: 5px;
  transition: all .5s ease-in-out;
}
.note-header {

}
.note-body {
  font-size: 12px;
  padding: 5px;
}

.bottom-nav {
  width: 100vw;
  position: fixed;
  bottom: -5px;
  left: 0;
  z-index: 200;
  padding: 0 5px;
  list-style-type: none;
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.bottom-nav > div {
  text-align: center;
  width: 20%;
  padding: 5px 0;
  position: relative;
}
.bottom-nav div a {
  padding: 3px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  width: 100%;
  display: inline-block;
  color: gray;
}

.bottom-nav div:hover a, .bottom-nav div.active a {
  color: #fff;
}
@media  screen and (min-width:900px) {
      .bottom-nav {display:none}
  }
.bottom-nav div:hover, .bottom-nav div.active {
  background-image: linear-gradient(-90deg, rgb(8, 126, 4), rgb(57, 235, 66)) !important;
  color: #fff;
}
.bottom-nav > a {
  padding: 0;
}
.dash {
  width: 97%;
  margin: 10px auto 20px auto;
  background-image: linear-gradient(-90deg, rgb(8, 126, 4), rgb(57, 235, 66)) !important;
  color: #fff;
}
.balance {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 800;
  color: #fff;
}
#acc-bal-a {display:none;}
.balance p {
  margin: 3px 0;
  font-size: 12px;
  font-weight: normal;
}
.dash-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.dash-flex > div {text-align:center;}
.dash-flex a {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  
}
.dash-flex p {
  font-size: 13px;
  margin-top: 12px;
}

#features{
  padding: 10px; /*modified here */
  text-align: center;
  width: 100%;
  padding-bottom: 100px;
}

#features .fea-box{
  background: #fff;
  color: green;
  text-align: start;
  padding: 10px;
  width: 80px;
  min-height: 90px;
  margin: 3px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all .3s ease-in;
  
}

#features .fea-box:hover {
  cursor: pointer;
  background: green;
  color: #fff;
}

#features .fea-icon {
width: 40px;
height: 40px;
border-radius: 50%;
text-align: center;
display:flex;
justify-content: center;
align-items: center;
border: 1px solid green;
}
#features .fea-box:hover .fea-icon {
  border: 1px solid white;
}
#features .fea-box i{
font-size: 15px;
}
#features .fea-box h3{
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}
#features .fea-box p{
  text-align: center;
  font-weight: 500;
  font-size: 10px;
}
#features .fea-base{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
}
@media screen and (min-width:500px) {
#features .fea-box{
  background: #f9f9ff;
  text-align: start;
  padding: 15px;
  width: 120px;
  height: 120px;
  margin: 3px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all .3s ease-in;
}
#features .fea-icon {
width: 50px;
height: 50px;
}
#features .fea-box i{
font-size: 25px;
}
#features .fea-box h3{
  font-size: 15px;
}
}
#features .fea-box{
  background: #fff;
  text-align: start;
  padding: 10px;
  width: 80px;
  height: 90px;
  margin: 3px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all .3s ease-in;
  border-radius: 5px;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  
}
.fea-box:hover .fea-icon {
border-color: #fff !important;
}
@media screen and (min-width:500px) {
#features .fea-box{
  background: #f9f9ff;
  text-align: start;
  padding: 15px;
  width: 120px;
  height: 120px;
  margin: 3px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all .3s ease-in;
  
}
#features .fea-icon {
width: 50px;
height: 50px;
}
#features .fea-box i{
font-size: 25px;
}
#features .fea-box h3{
  font-size: 15px;
}
}
#features {
  margin-bottom: 15px;
  padding-bottom: 0 !important;
}

.content .form .field{
  width: 100%;
  height: 80px;
  margin: 20px 0;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.form .field {
  margin: 20px 0;
}
#airtime-btn:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
p.error {
  color: red;
  line-height: 5px;
  margin: 3px;
  font-weight: 500;
  font-size: 13px;
}
.form .field input, .form .field select{
  width: 100%;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 14px;
  outline: none;
}
.form .field .icons{
  position: absolute;
  right: 15px;
  top: 65%;
  transform: translateY(-50%);
}
.field .icons span{
  height: 25px;
  width: 25px;
  border: 2px solid;
  border-radius: 50%;
  line-height: 25px;
}
.field .icons span.icon1{
  color: #e74c3c;
  border-color: #e74c3c;
}
.field .icons span.icon2{
  color: rgb(13, 13, 61);
  border-color: rgb(15, 15, 61);
}
.form button, #transfer-btn{
  margin: 20px 0;
  display: block;
  text-align: center;
  font-weight: 700;
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
  background-image: linear-gradient(-90deg, rgb(8, 87, 6), rgb(3, 179, 12));
  color: #fff;
}
#airtime-btn:disabled {
cursor: not-allowed;
opacity: 0.5;
}
.field img {
  width:45px;
  height: 45px;
}
input[type=radio]:checked ~ label {
color: #000;
}
input[type=radio]:checked {
color: #000;
background: black;
}
.provider {
padding: 5px;
position: relative;
}
.provider.active {
border: 3px double green;
}
.provider .mark {
position: absolute;
color: green;
top: -10px;
right: -5px;
font-size: 20px;
background: none;
display: none;
}
label {
width: 100%;
text-align: left;
font-weight: 700;
}
.nav-link.active {
background: green !important;
color: #fff !important;
}
.nav-item {padding: 4px;}

.trans-row tr td:nth-child(1) {
  max-width: 25px !important;
  text-align: left;
}
.trans-row tr td:nth-child(3) {
  max-width: 50px !important;
  text-align: left;
}
.tran-it {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.bank-list {
  max-height: calc(100vh-200px) !important;
  overflow-y: auto;
}
.bank {
  color: green;
  font-size: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.bank:hover {
  background: green;
  color: white;
}


.pro-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #fff;
    margin-right: 5px;
    position: relative;
    overflow: hidden;
}
.pro-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-con {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Profile page */
.profile {
  width: 95%;
  margin: 10px auto 5px auto;
  background-image: linear-gradient(-90deg, rgb(97, 228, 57), rgb(7, 121, 3)) !important;
  height: 130px;
  overflow: hidden;
  transition: .5s all ease-in;
}


.save-con {
  padding: 4px;
  box-sizing: border-box !important;
  background: none;
}
.save-con > div {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  min-height: 170px;
}
.save-con .b {
  background: rgba(7, 204, 7, 0.1)
}
.save-con .s {
  background: rgba(188, 7, 204, 0.1)
}
.save-con .t {
  background: rgba(7, 181, 204, 0.1)
}
.save-con .f {
  background: rgba(204, 7, 7, 0.1)
}
.save-con .r {
  background: rgba(133, 81, 3, 0.1)
}
.save-con .c {
  background: rgba(2, 21, 65, 0.1)
}