{% extends 'main/base.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}
{% block active1 %}active{% endblock %}
{% block active11 %}active{% endblock %}

{% block title %}Dashboard{% endblock title %}
    
{% block style %}{% endblock %}

{% block content %}
    <div class="dash w-theme-l2 w-padding w-round-large w-padding-8">
        <div>
            Wallet Balance <span class="view-balance"><i class="fa fa-eye"></i></span>
        </div>
        <div class="balance">
            N<span id="acc-bal">5,430.00</span>
            <p>& Bonus N<span id="bon-bal">200.00</span></p>
        </div>
        <div class="dash-flex">
            <div>
                <a href="#" class="w-text-theme"><i class="fa fa-plus"></i></a>
                <p>Fund Wallet</p>
            </div>
            <div>
                <a href="#" class="w-text-theme"><i class="fa fa-list-alt"></i></a>
                <p>Transactions</p>
            </div>
        </div>
    </div>

    <!-- Menu Section -->
    <!--
    <div class="menu-section container-fluid w-padding w-white w-section">
        <h3 class="w-bold-xx w-xlarge w-text-theme w-padding-12">Welcome Neeyah!</h3>
        <div class="bank-list">
            <div class="container price-con moniepoint-list">
                <table class="table w-text-white w-bold-x">
                    <thead>
                        <tr class="w-center w-bold-xx w-wide .h2">
                            <th colspan="2">Moniepoint Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Account No</td>
                            <td>1234567890</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>RiganVTU-Nee</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>Moniepoint</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container price-con uba-list">
                <table class="table w-text-white w-bold-x">
                    <thead>
                        <tr class="w-center w-bold-xx w-wide .h2">
                            <th colspan="2">Manual Funding (UBA)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Account No</td>
                            <td>1234567890</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>RiganVTU-Nee</td>
                        </tr>
                        <tr>
                            <td>Bank</td>
                            <td>United Bank of Africa</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
-->

    <!-- services -->
    <section id="features">

        <div class="fea-base">

            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-mobile"></i></div>
                <div>
                    <h3>Airtime</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-wifi"></i></div>
                <div>
                    <h3>Data</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-desktop"></i></div>
                <div>
                    <h3>Cable/TV</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-lightbulb-o"></i></div>
                <div>
                    <h3>Electricity</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-graduation-cap"></i></div>
                <div>
                    <h3>Exams</h3>
                </div>
            </div>

            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-users"></i></div>
                <div>
                    <h3>Referral</h3>
                </div>
            </div>

            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-globe"></i></div>
                <div>
                    <h3>Retail</h3>
                </div>
            </div>

        </div>

    </section>

{% endblock %}
    