{% extends 'account/home-base.html' %}
{% load static %}
{% load thumbnail %}
{% load humanize %}


{% block title %}Home{% endblock title %}
{% block active1 %}active{% endblock %}
{% block active11 %}active{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/css/home.css" />
{% endblock %}
 
    
{% block content %}

    <!-- FrontPage -->
    <section id="home">
        <div class="images">
            <div class="front front-1">
                <h1 class="w-text-white w-bold-xx w-xxlarge w-left w-animate-left">Welcome To Rigan VTU Platform 1</h1>
            </div>
            <div class="front front-2">
                <h1 class="w-text-white w-bold-xx w-xxlarge w-right w-animate-left">Welcome To Rigan VTU Platform 2</h1>
            </div>
            <div class="front front-3">
                <h1 class="w-text-white w-bold-xx w-xxlarge w-center w-animate-zoom">Welcome To Rigan VTU Platform 3</h1>
            </div>
            <div class="front front-4">
                <h1 class="w-text-white w-bold-xx w-xxlarge w-display-middle w-animate-opacity">Welcome To Rigan VTU Platform 4</h1>
            </div>
            <div class="front front-5">
                <h1 class="w-text-white w-bold-xx w-xxlarge w-display-bottomright w-animate-bottom">Welcome To Rigan VTU Platform 5</h1>
            </div>
        </div>
        <div class="btm-slides">
            <span onclick="btm_slide(1)"></span>
            <span onclick="btm_slide(2)"></span>
            <span onclick="btm_slide(3)"></span>
            <span onclick="btm_slide(4)"></span>
            <span onclick="btm_slide(5)"></span>
        </div>
        <div class="sliders left" onclick="side_slide(-1)">
            <span class="fa fa-angle-left"></span>
        </div>
        <div class="sliders right" onclick="side_slide(1)">
            <span class="fa fa-angle-right"></span>
        </div>
        
    </section>

    <!-- services -->
    <section id="features">

        <h1 class="w-text-theme" id="services">Our Services</h1>

        <div class="fea-base">

            <div class="fea-box w-text-theme w-hover-theme" data-toggle="modal" data-target="#loginModal">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-signal"></i></div>
                <div>
                    <h3>Buy Airtime</h3>
                    <p>Airtel, MTN, GLO, 9Mobile</p>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme" data-toggle="modal" data-target="#loginModal">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-wifi"></i></div>
                <div>
                    <h3>Buy Data</h3>
                    <p>SME, Corporate, Gifting</p>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme" data-toggle="modal" data-target="#loginModal">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-desktop"></i></div>
                <div>
                    <h3>Cable TV</h3>
                    <p>DSTV, GoTV, Startimes</p>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme" data-toggle="modal" data-target="#loginModal">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-lightbulb-o"></i></div>
                <div>
                    <h3>Electricity</h3>
                    <p>IBEDC, EKEDC, etc</p>
                </div>
            </div>
            <div class="fea-box w-text-theme w-hover-theme" data-toggle="modal" data-target="#loginModal">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-graduation-cap"></i></div>
                <div>
                    <h3>WAEC E-Pins</h3>
                    <p>SSCE Result Pins</p>
                </div>
            </div>

            <div class="fea-box w-text-theme w-hover-theme" data-toggle="modal" data-target="#loginModal">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-list-alt"></i></div>
                <div>
                    <h3>Wallet Summary</h3>
                    <p>Wallet Funding & History</p>
                </div>
            </div>

            <div class="fea-box w-text-theme w-hover-theme">
                <div class="fea-icon w-border w-border-theme w-hover-border-white"><i class="fa fa-code"></i></div>
                <div>
                    <h3>Developer's API</h3>
                    <p>Get An Affiliate Website</p>
                </div>
            </div>

        </div>

    </section>

    <!-- features -->
    <section id="features">

        <h1 class="w-text-theme" id="services">Why Choose Us?</h1>

        <div class="fea-base">

            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-flash"></i></div>
                <div>
                    <h3>We're Fast</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-android"></i></div>
                <div>
                    <h3>Automated Services</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-dollar"></i></div>
                <div>
                    <h3>Best Prices</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-lock"></i></div>
                <div>
                    <h3>100% Secure</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-user-secret"></i></div>
                <div>
                    <h3>We're Reliable</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-phone"></i></div>
                <div>
                    <h3>24/7 Online</h3>
                </div>
            </div>
            <div class="fea-box w-text-theme">
                <div class="fea-icon w-border w-border-theme"><i class="fa fa-group"></i></div>
                <div>
                    <h3>Customer Support</h3>
                </div>
            </div>

        </div>

    </section>

    <!-- Pricing Section -->
    <section id="pricing">
        <h1 class="w-text-theme" id="services">Our Data Pricing</h1>
        <div class="price-list">
            <div class="container price-con airtel-list">
                <img src="/static/image/Airtel Nigeria Logo.png" alt="" />
                <table class="table w-text-white w-bold-x">
                    <tbody>
                        <tr>
                            <td>100MB</td>
                            <td>N35</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>300MB</td>
                            <td>N70</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>500MB</td>
                            <td>N120</td>
                            <td>30 Days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container price-con mtn-list">
                <img src="/static/image/MTN Logo.png" alt="" />
                <table class="table w-text-black w-bold-x">
                    <tbody>
                        <tr>
                            <td>100MB</td>
                            <td>N35</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>300MB</td>
                            <td>N70</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>500MB</td>
                            <td>N120</td>
                            <td>30 Days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container price-con glo-list">
                <img src="/static/image/Globacom Limited Logo.svg" alt="" />
                <table class="table w-text-white w-bold-x">
                    <tbody>
                        <tr>
                            <td>100MB</td>
                            <td>N35</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>300MB</td>
                            <td>N70</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>500MB</td>
                            <td>N120</td>
                            <td>30 Days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container price-con etisalat-list">
                <img src="/static/image/9mobile Logo.png" alt="" />
                <table class="table w-text-white w-bold-x">
                    <tbody>
                        <tr>
                            <td>100MB</td>
                            <td>N35</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>300MB</td>
                            <td>N70</td>
                            <td>7 Days</td>
                        </tr>
                        <tr>
                            <td>500MB</td>
                            <td>N120</td>
                            <td>30 Days</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>


    <!-- Testimonial section -->
    <section id="testimonial">
        <h1 class="w-text-theme">Testimonials</h1>
        <div class="testimonial owl-carousel">
            <div class="test-con">
                <img src="/static/image/avatar-1.jpg" alt="" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <h3>John Philip</h3>
            </div>
            <div class="test-con">
                <img src="/static/image/avatar-2.jpg" alt="" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <h3>John Doe</h3>
            </div>
            <div class="test-con">
                <img src="/static/image/avatar-3.jpg" alt="" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <h3>Jane Maddy</h3>
            </div>
            <div class="test-con">
                <img src="/static/image/avatar.png" alt="" />
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <h3>Hermione</h3>
            </div>
            <div class="test-con">
                <img src="/static/image/kisspng-nigeria-mtn-group-globacom-etisalat-mobile-phones-etisalat.jpg" alt=""/>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <h3>Mark Maxwel</h3>
            </div>
        </div>
    </section>

    <!-- partners -->
    <section id="features">
        <h1 class="w-text-theme" id="services">Our Partners</h1>
        <div class="part-con">
            <img src="/static/image/MTN Logo.png" alt="" />
            <img src="/static/image/9mobile Logo.png" alt="" />
            <img src="/static/image/Airtel Nigeria Logo.png" alt="" />
            <img src="/static/image/Globacom Limited Logo.svg" alt="" />
        </div>
    </section>

    <footer class="w-theme-d5 w-padding-8 w-center">
        <p>Copyright &copy; 2023 RiganVTU | Developed By Rigan Tech</p>
        <a href="#" class="w-text-shadow"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
        <a href="#" class="w-text-shadow"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
        <a href="#" class="w-text-shadow"><i class="fa fa-whatsapp"></i></a>&nbsp;&nbsp;
        <a href="#" class="w-text-shadow"><i class="fa fa-linkedin"></i></a>
    </footer>

    <script>
        $(".testimonial").owlCarousel({
  margin: 20,
  loop: true,
  autoplay: true,
  autoplayTimeout: 3000,
  autoplayHoverPause: true,
  responsive: {
  0:{
    items:1,
    nav: false
  },
  600:{
    items:2,
    nav: false
  },
  1000:{
    items:3,
    nav: false
  }
  }
  });
    </script>

{% endblock %}
