 /* custom scroll bar */
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background: #242526;}
::-webkit-scrollbar-thumb {background: #3A3B3C;}

body {
  width: 100%;
  overflow-x: hidden;
}
a:link {
    text-decoration: none;
}
a:hover {
    cursor: pointer;
}
header {
    position: sticky !important;
    position: -webkit-sticky !important;
    top: 0;
    width: 100%;
}

ul.w-navbar {
  height: fit-content;
  overflow: visible;
}
ul.w-navbar .dropdown-menu li, ul.w-navbar .dropdown-menu li a {
  width: 100%;
}
  /* Navigation Bar */
nav {
    padding-top: 20px;
    width: 100%;
    max-width: 250px;
}
#openav {
    border: 2px solid #fff;
    font-size: 20px;
    padding: 6px 12px;
    display: none;
    cursor: pointer;
}
#closenav {
    position: absolute;
    right: -50px;
    top: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
}
nav ul li {
    list-style-type: none;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
nav ul li a {
    text-decoration: none;
    padding: 15px 20px;
    display: block;
    width: 100%;
    border: none;
    font-size: 20px;
}
@media  screen and (max-width:680px) {
    .w-navbar {
        display: none;
    }
    #openav {display:block}
}

.bottom-nav {
  width: 100vw;
  position: fixed;
  bottom: -5px;
  left: 0;
  z-index: 2000;
  padding: 0 5px;
  list-style-type: none;
  background: #fff;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
.bottom-nav > div {
  text-align: center;
  width: 20%;
  padding: 5px 0;
  position: relative;
}
.bottom-nav div a {
  padding: 3px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  width: 100%;
  display: inline-block;
  color: gray;
}
.bottom-nav div:hover, .bottom-nav div.active {
  background-color:#5681c2;
  color: #fff;
  border-radius: 0 0 20px 20px;
}
.bottom-nav div:hover a, .bottom-nav div.active a {
  color: #fff;
}
@media  screen and (min-width:681px) {
      .bottom-nav {display:none}
  }

/* features */
#features{
    padding: 10px; /*modified here */
    text-align: center;
    width: 100%;
    padding-bottom: 100px;
 }

 #features .fea-box{
    background: #f9f9ff;
    text-align: start;
    padding: 10px;
    width: 80px;
    height: 90px;
    margin: 3px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all .3s ease-in;
    
 }

 #features .fea-box:hover {
    cursor: pointer;
 }
 #features .fea-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
}
 #features .fea-box i{
  font-size: 15px;
 }
 #features .fea-box h3{
    font-size: 12px;
    font-weight: 600;
    text-align: center;
 }
 #features .fea-box p{
    text-align: center;
    font-weight: 500;
    font-size: 10px;
 }
 #features .fea-base{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 0px;
 }
@media screen and (min-width:500px) {
  #features .fea-box{
    background: #f9f9ff;
    text-align: start;
    padding: 15px;
    width: 120px;
    height: 120px;
    margin: 3px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all .3s ease-in;
    
 }
 #features .fea-icon {
  width: 50px;
  height: 50px;
}
 #features .fea-box i{
  font-size: 25px;
 }
 #features .fea-box h3{
    font-size: 15px;
 }
}
/* Menu Section */
.menu-section {
  border-radius: 0 0 20px 20px;
  padding: 20px 15px;
}
.dash {
  width: 95%;
  margin: 50px auto 20px auto;
}
.balance {
  margin: 10px 0;
  font-size: 25px;
  font-weight: 800;
}
.balance p {
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}
.dash-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}
.dash-flex > div {text-align:center;}
.dash-flex a {
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  
}
.dash-flex p {
  font-size: 13px;
  margin-top: 12px;
}